body
{
	background-color: #e0e0e0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

div.res
{
	position: relative;
	float: left;
	margin: 5px;
	padding: 2px;
	width: 200px;
	height: 100px;
	background-color: #d0d0d0;
	border: 1px solid #000000;
	box-shadow: 1px 1px 0px #000000;
	text-align: left;
}

div.res_free
{
	background-color: #88ff88;
}

div.res_occu
{
	background-color: #ff8888;
}

div.res_curr
{
	background-color: #ffff88;
}

span.res_curr
{
	background-color: #ffff88;
}

div.res_msg
{
	margin-top: 5px;
	padding: 4px;
	text-align: center;
	font-size: 12px;
}

div.res_queue
{
	position: absolute;
	width: 100%;
	bottom: 0px;
	padding: 2px;
	text-align: left;
	vertical-align: bottom;
	font-size: 10px;
}